{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
    
    <div class='row'>
        <div class='col-sm-2 col-sm-offset-5'>
            <a class="btn btn-default" href='{{ path('edp_createabo') }}'> Créer votre abonnement </a>
    </div>
        
    </div>
    
{% endblock fos_user_content %}
