{% extends "EdpMainBundle::page_niv2.html.twig" %}

{% block n3 %}
    <br/><br/>

    <section>
        
        ********** PAGE HTML FABRICE LE FLOCH **********
        
        {#<div class="container">
            <div class="row">


                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="{{ asset('bundles/edpassets/images/home/code_de_la_fonction_publique_d_etat.png') }}" alt="" />							
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->								
                                <h2>Code de DEV</h2>
                                <p>Ref: 1089772</p>								
                                <span>
                                    <span>100€</span>
                                    <label>Quantité:</label>
                                    <input type="text" value="3" />
                                    <button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Ajouter au panier
                                    </button>
                                </span>
                                <p><b>Info detail 1:</b> ...</p>
                                <p><b>Info detail 2:</b> ...</p>
                                <p><b>Info detail 3:</b> ...</p>								
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->				

                </div>
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Liste des articles liés</h2>
                        <div><!--category-productsr-->
                            <a> Article xxxxx - NOR</a><br/>
                            <a> Article xxxxx - NOR</a><br/>
                            <a> Article xxxxx - NOR</a><br/>
                            <a> Article xxxxx - NOR</a><br/>
                            <a> Article xxxxx - NOR</a>
                        </div><!--/category-products-->					

                    </div>
                </div>		
            </div>
        </div>#}
    </section>


{% endblock n3 %}