{% extends "EdpMainBundle::page_niv2.html.twig" %}

{% block body -%}
    <div class='row'>    
        <div class='col-sm-6 col-sm-offset-3' style="border:1px solid black; border-radius:10px;margin-top:20px">    
            <h1 style="text-align:center;margin-bottom:20px">Modifier l'article</h1>

            {{ form(edit_form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('admin_article') }}">
                        Retour à la liste des articles
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
